*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Inter', sans-serif;
    background-color: #F5F7FFD9;
    
}


header h2 {
    font-size: 45px;
    margin-bottom: 20px;
}
header img{
    width: 70%;
    margin-top: 40px;
    border-radius: 30px;
}
@media only screen and (max-width:768px){
    header img {
        display: block;
        margin: 20px auto;
    }
}
.create img {
    width: 90%;
    height: 520px;
    border-radius: 10px;
}
.create .box-header h5{
    line-height:1.5;
    
}
.form-control {
    display: inline-block;
    width: 96%;
    padding: 30px 10px;
    text-indent: 40px;
}

.create i {
    position: absolute;
    margin-top: 20px;
    margin-left: 15px;
    font-size: 22px;
    color: blue;
}
